:root {
    --blue: hsl(246, 80%, 60%);
    --blue-very-dark: hsl(226, 43%, 10%);
    --blue-dark: hsl(235, 46%, 20%);
    --blue-desaturated: hsl(235, 45%, 61%);
    --blue-pale: hsl(236, 100%, 87%);
    --blue-soft: hsl(195, 74%, 62%);
    --orange-light: hsl(15, 100%, 70%);
    --orange-soft: hsl(43, 84%, 65%);
    --red-light: hsl(348, 100%, 68%);
    --green-lime: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);

    --font-size-base: 18px;
    --font-family: "Rubik", system-ui, sans-serif;

    --spacer: 20px;
    --spacer-large: calc(var(--spacer) * 1.5);
    --spacer-small: calc(var(--spacer) * 0.5);

    --transition-base: all .2s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    background-color: var(--blue-very-dark);
    color: #fff;
    margin: 0;
}

.page {
    min-height: 100vh;
    padding: calc(var(--spacer) * 4) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--spacer);
}

.card {
    background-color: var(--blue-dark);
    margin-bottom: var(--spacer-large);
    border-radius: var(--spacer);
}

.card--profile .card__header {
    background-color: var(--blue);
    padding: var(--spacer-large);
    border-radius: var(--spacer);
    display: flex;
    align-items: center;
    gap: var(--spacer-small);
}

.card__image {
    width: 100%;
    height: auto;
    max-width: 70px;
    border: 3px solid white;
    border-radius: 50%;
}

.card__headline span {
    color: var(--blue-pale);
    font-size: 80%;
    margin-bottom: 5px;
    display: block;
}

h1 {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
}

.btn {
    background-color: var(--blue-pale);
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    color: white;
    cursor: pointer;
    padding: 0 5px;
    transition: var(--transition-base);
}

.card--profile .card__body {
    padding: calc(var(--spacer) * 1.25) var(--spacer-large);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-link {
    background-color: transparent;
    color: var(--blue-desaturated);
}

.btn-link:hover,
.btn-link.active {
    color: white;
}

.card--statistic .card__header {
    position: relative;
    overflow: hidden;
    border-top-left-radius: var(--spacer);
    border-top-right-radius: var(--spacer);
    height: calc(var(--spacer) * 3);
}

.card__icon {
    position: absolute;
    right: var(--spacer);
    transform: translateY(-15%);
}

.card__header--orange {
    background-color: var(--orange-light);
}

.card__header--blue {
    background-color: var(--blue-soft);
}

.card__header--red {
    background-color: var(--red-light);
}

.card__header--green {
    background-color: var(--green-lime);
}

.card__header--violet {
    background-color: var(--violet);
}

.card__header--yellow {
    background-color: var(--orange-soft);
}

.card--statistic .card__body {
    border-radius: var(--spacer);
    padding: var(--spacer-large);
    background-color: var(--blue-dark);
    margin-top: calc(var(--spacer) * -1);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: flex-start;
    grid-row-gap: 5px;
    cursor: pointer;
    transition: var(--transition-base);
}

.card--statistic .card__body:hover {
    background-color: hsl(235, 46%, 35%);
}

.menu-dots {
    background-color: transparent;
}

.menu-dots path {
    fill: #BBC0FF;
    transition: var(--transition-base);
}

.menu-dots:hover path {
    fill: white;
}

.menu-dots,
.prev-hours__value {
    justify-self: self-end;
}

.actual-hours__title {
    font-weight: 500;
}

.actual-hours__value {
    font-size: 2rem;
    font-weight: 300;
}

.prev-hours__value {
    font-weight: 300;
    font-size: 80%;
    color: var(--blue-pale);
}

[data-cycle="daily"],
[data-cycle="weekly"],
[data-cycle="monthly"] {
    display: none;
}

.active-cycle {
    display: block;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        column-gap: var(--spacer-large);
    }

    .card--profile {
        grid-column: 1 / 3;
    }
}

/* Desktop Styles */
@media (min-width: 1366px) {
    .container {
        max-width: 1200px;
    }

    h1 {
        font-size: 2.3rem;
    }

    .card-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: var(--spacer-large);
    }

    .card--profile {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        display: flex;
        flex-flow: column;
    }

    .card--profile .card__header {
        flex-flow: column;
        align-items: flex-start;
        flex-grow: 1;
    }

    .card__image {
        margin-bottom: var(--spacer-large);
    }

    .nav {
        flex-flow: column;
        align-items: flex-start;
    }

    .btn-link:not(:last-child) {
        margin-bottom: var(--spacer);
    }

    .card--statistic .card__body {
        grid-template-rows: auto auto auto;
    }

    .actual-hours__value,
    .prev-hours__value {
        grid-column: 1 / 3;
        justify-self: flex-start;
    }

    .actual-hours__value {
        font-size: 3.4rem;
        padding-top: var(--spacer-small);
    }
}